<tr>
	<td><%= ticket.description %></td>
	<td><%= link_to 'Show', ticket %></td>
	<% if current_user == ticket.user %>
		<td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
		<td><%= link_to 'Destroy', ticket, confirm: 'Are you sure?', method: :delete %></td>
	<% else %>
		<td></td>
		<td></td>
	<% end %>
</tr>
