<div  class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <%= @ticket.description %>
			</p>
			<p>
				<%= @ticket.user.name %>
			</p>	
			<% if current_user == @ticket.user %>	
				<%= link_to 'Edit', edit_ticket_path(@ticket) %> | 
			<% end %>
			<%= link_to 'Back', tickets_path %>	
		</div>
	</div>
</div>
